# Require reviews from Core team for changes to CI or infra stuff
.github/ @Bibostation13/Core
.azure-pipelines.yml @Bibostation13/Core
Dockerfile @Bibostation13/Core
flyway.conf @Bibostation13/Core
sql/ @Bibostation13/Core
LICENSE @Bibostation13/Core
